<a href="https://colab.research.google.com/github/nehakiran2001/FullStack/blob/main/Basics_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fname="PARKAVI"
fac_number=525
height=5.2
print(fname,fac_number,height)

PARKAVI 525 5.2

In [ ]:
cname=input("Please enter your college name")
print(cname)

Please enter your college nameKIT
KIT

In [ ]:
print(-2)
print(2/2)
print(3//3)
print(2+3)
print(2-3)
print(2/3)
print(2%3)
print(2**2)

-2
1.0
1
5
-1
0.6666666666666666
2
4

In [ ]:
print(5==4)
print(2==2)
print("msr"=='ms')
print("msr"=='msr')

False
True
False
True

In [ ]:
marks=int(input("Please enter your marks"))
if marks>39 and marks<50:
  print("E grade")
elif marks>49 and marks<60:
  print("D grade")
elif marks>59 and marks<70:
  print("C grade")
else:
  print("Pass")

Please enter your marks89
Pass

In [ ]:
n=int(input("Enter a number value to find factorial of it"))
fact=1
i=1
while i<=n:
  fact=fact*i
  i+=1
  print(fact)

Enter a number value to find factorial of it4
1
2
6
24

In [ ]:
cnames=["msrit","hkbk","bms"]
key=input("Enter college name")
flag=0
for x in cnames:
  if key==x:
    print("key is found in list")
    flag=1
    break
  else:
    continue
  if flag==0:
    print("key not found")

Enter college namebms
key is found in list

In [ ]:
sub=["DataStructure","Oops","Dms"]
stud=["Nithin","Harini","Anjali"]
print("stud name","sub name")
for x in stud:
 for y in sub:
   print(x,y)

stud name sub name
Nithin DataStructure
Nithin Oops
Nithin Dms
Harini DataStructure
Harini Oops
Harini Dms
Anjali DataStructure
Anjali Oops
Anjali Dms

In [ ]:
for x in range(55):
 print(x)
for i in range(10,20):
  print(i)
for x in range(0,20,5):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
10
11
12
13
14
15
16
17
18
19
0
5
10
15