<a href="https://colab.research.google.com/github/nehakiran2001/FullStack/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Accessing value of dictionary
daily_temps={'sun':68.8,'mon':70.2,'tue':67.8,'wed':71.8}
value=daily_temps['sun']
print(value)

68.8

In [ ]:
#Creating a dictionary
empdict={
    "Name":"Vijay",
    "Age":"25",
    "Job":"Teacher"
}

print(empdict.get("Name"))

{'Name': 'Vijay', 'Age': '25', 'Job': 'Teacher'}
Vijay

In [ ]:
#Changing the values
empdict={
    "Name":"Vijay",
    "Age":"25",
    "Job":"Teacher"
}
empdict["Name"]="Vidya"
print(empdict["Name"])

Vidya

In [ ]:
#LOOPS in Dictionary
#To print key
empdict={
    "Name":"Vijay",
    "Age":"25",
    "Job":"Teacher"
}
for x in empdict:
 print(x)

Name
Age
Job

In [ ]:
#To print values of keys
empdict={
    "Name":"Vijay",
    "Age":"25",
    "Job":"Teacher"
}
for x in empdict:
  print(empdict[x])

Vijay
25
Teacher

In [ ]:
#Value()Method
empdict={
    "Name":"Vijay",
    "Age":"25",
    "Job":"Teacher"
}
for x in empdict.values():
  print(x)

Vijay
25
Teacher

In [ ]:
#To print both Keys and Values
empdict={
         "Name":"Vijay",
         "Age":"25",
         "Job":"Teacher"
}
for x,y in empdict.items():
  print(x,y)

Name Vijay
Age 25
Job Teacher

In [ ]:
#Check if Key exists
empdict={
    "Name":"Vijay",
    "Age":"25",
    "Job":"Teacher"
}
if "Age"in empdict:
  print("Yes,Age is one of the keys in the empdict dictionary")

Yes,Age is one of the keys in the empdict dictionary

In [ ]:
#Length of the dictionary
empdict={
    "Name":"Vijay",
    "Age":"25",
    "Job":"Teacher"
}
print(len(empdict))

3

In [ ]:
#Adding new key value pair to a dictionary
empdict={
  "Name":"Vijay",
  "Age":"25",
  "Job":"Teacher"
}
empdict["Blood group"]="O+"
print(empdict)

{'Name': 'Vijay', 'Age': '25', 'Job': 'Teacher', 'Blood group': 'O+'}

In [ ]:
#Copy Dictionary
#dict() Constructor
empdict={
    "Name":"Vijay",
    "Age":"25",
    "Job":"Teacher"
}
e1=dict(empdict)
print(e1)

{'Name': 'Vijay', 'Age': '25', 'Job': 'Teacher'}

In [ ]:
# .copy() method
empdict={
    "Name":"Vijay",
    "Age":"25",
    "Job":"Teacher"
}
e1=empdict.copy()
print(e1)

{'Name': 'Vijay', 'Age': '25', 'Job': 'Teacher'}

In [ ]:
#Nested Dictionaries
employees={
    "emp1":{"Name":"Vijay","Age":"25","Blood group":"O+"},
    "emp2":{"Name":"Suraj","Age":"23","Blood group":"A+"},
    "emp3":{"Name":"Medha","Age":"28","Blood group":"AB+"}
}
print(employees)

{'emp1': {'Name': 'Vijay', 'Age': '25', 'Blood group': 'O+'}, 'emp2': {'Name': 'Suraj', 'Age': '23', 'Blood group': 'A+'}, 'emp3': {'Name': 'Medha', 'Age': '28', 'Blood group': 'AB+'}}

In [ ]:
#Removing Items
empdict={
    "Name":"Vidya",
    "Age":"25",
    "Job":"Manager",
    "Blood group":"O+",
    "Company":"Mindtree"
}
empdict.pop("Age")
print(empdict)
empdict.popitem()
print(empdict)
del empdict["Job"]
print(empdict)
del empdict
print(empdict)
empdict.clear()
print(empdict)

{'Name': 'Vidya', 'Job': 'Manager', 'Blood group': 'O+', 'Company': 'Mindtree'}
{'Name': 'Vidya', 'Job': 'Manager', 'Blood group': 'O+'}
{'Name': 'Vidya', 'Blood group': 'O+'}

NameError: ignored

In [ ]:
#dict()Constructor
emp=dict(Name="Vijay",Age="25",Job="Teacher")
print(emp)

{'Name': 'Vijay', 'Age': '25', 'Job': 'Teacher'}

In [ ]:
#fromkeys()method
empdict={
    "Name":"Vijay",
    "Age":"25",
    "Job":"Teacher"
}
x=("Age","Name")
y=1
e=empdict.fromkeys(x,y)
print(e)

{'Age': 1, 'Name': 1}

In [ ]:
#keys()method
empdict={
    "Name":"Vijay",
    "Age":"25",
    "Job":"Teacher"
}
x=empdict.keys()
print(x)

dict_keys(['Name', 'Age', 'Job'])

In [ ]:
#setdefault()method
empdict={
    "Name":"Vijay",
    "Age":"25",
    "Job":"Teacher"
}
empdict.setdefault("Blood group","O+");
print(empdict)

{'Name': 'Vijay', 'Age': '25', 'Job': 'Teacher', 'Blood group': 'O+'}

In [ ]:
#numbers as keys and their squares as values
n=int(input("Input a number"))
d=dict ()
for x in range(1,n+1):
  d[x]=x*x
  print(d)

Input a number8
{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
#To sum all values in dictionary
d_dict={'a':100,'b':500,'c':200}
print(sum(d_dict.values()))

800

In [ ]:
#
Name= str (input("Enter the Name of the Student"))
Marks=int (input("Enter the marks of the student"))
studdict={"Name":"Marks"}
 
print(Name,Marks)

Enter the Name of the StudentKala
Enter the marks of the student80
Kala 80

In [ ]:
#Convert 2 digit number into words
ones = ["Zero","One","Two","Three","Four","Five","Six","Seven","Eight","Nine"];
twos = ["Ten","Eleven","Twelve","Thirteen","Fourteen","Fifteen","Sixteen","Seventeen","Eighteen","Nineteen"];
tens = ["Twenty","Thirty","Fourty","Fifty","Sixty","Seventy","Eighty","Ninety"];
def process(number,index):
  if number=='0':
     return "Zero"

     length=len(number)
     if (length>3):

      return false
      number=number.zfill(3)
      words=""
      hdigit=int (number[0])
      tdigit=int (number[1])
      odigit=int (number[2])
      words += '' if number[0] =='0' else ones[hdigit]
      words += 'Hundred' if not words == '' else ''
      if (tdigit > 1): 


        words +=tens[tdigit - 2]
        words +=''  
        words +=ones[odigit] 
      elif (tdigit == 1):
        words +=twos[(int (tdigit + odigit)%10)-1]
      elif (tdigit == 0):
          words += ones[odigit]
        
      if (words.endswitch("Zero")):
         words = words[:-len("Zero")]
      else:
         words +=''
def getWords (number):
  length = len(str(number)) 
  if length>2:
    return "This program supports upto 2 digit numbers" 
    count=length//3 if length%3==0 else length//3+1
    copy=count
    words=[]
    for i in range(length-1,-1,-3):
      words.append(process(str(number)[0 if i-2<0 else i-2:i+1],copy))
    if count == 1:
      final_words =''
    for s in reversed(words):
        temp =s +''
        final_words += temp 
        return final_words
        number=int(input("Enter the number"))
        print((number,getWords(number)))

In [2]:
#Add roll number and marks of students
n= int (input("Enter the number of Students:"))
d={}
for i in range(n):
  roll_no=int (input("Enter roll_no:"))
  name=input("Enter name:")
  marks=int (input("Enter marks:"))
  d[roll_no]=[name,marks]
  for k in d:
    if (d[k][1]>75):
       print(d[k][0])

Enter the number of Students:2
Enter roll_no:23
Enter name:Harini
Enter marks:78
Harini
Enter roll_no:26
Enter name:Harshita
Enter marks:89
Harini
Harshita